<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB.Core" version="2.0.4" targetFramework="portable46-net451+win81" />
  <package id="ManagedBass" version="0.24.0" targetFramework="portable46-net451+win81" />
  <package id="ManagedBass.PInvoke" version="0.5.0" targetFramework="portable46-net451+win81" />
</packages>